@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    font: 1.3rem/1.61538 "Montserrat", sans-serif;
}

html {
    height: 100%
}

#wrapper {
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    table-layout: fixed;
}

#header {
    /*  position: fixed; */
    overflow-x: visible;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 31px 0 32px;
    background: #222125;
    box-shadow: 0 1px 1px rgba(196, 194, 202, 0.23);
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.logo {
    float: left;
    margin: 0 0 0 15px;
    width: 151px;
    height: 41px;
}

a {
    color: #8d81ac;
    text-decoration: none;
    background-color: transparent;
}

img {
    vertical-align: middle;
    border: 0;
}

nav {
    /* overflow: hidden;  */
    text-align: right;
    font-size: 0;
    letter-spacing: -4px;
    white-space: nowrap;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header .btn {
    float: right;
    margin: 2px 0 0 59px;
    /* height: 38px; */
    min-width: 145px;
    padding: 7px;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 22px;
    letter-spacing: 0;
    font-family: Montserrat;
    /* color: #ffffff; */
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 15px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.logo:hover img.imglogo {
    content: url('../images/logohover.svg');
}

.btn-primary {
    color: #fff;
    background-color: #8d81ac;
    border-color: #8d81ac;
}

.rounded {
    border-radius: 40px;
}

#nav ul {
    padding: 9px 0 5px;
    margin: 0;
}

#nav li {
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0;
    white-space: normal;
    margin: 0 0 0 34px;
    font-family: Montserrat;
    color: #8d81ac;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 15px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

#nav li:hover a {
    color: white;
}

.btn:hover.buytext {
    border-radius: 19px;
    background-color: white;
    /* color: #8d81ac;
}  */
}

.btn:hover.btn-primary {
    color: #8d81ac;
}

.btn:hover.btn-primary {
    color: #8d81ac;
    background-color: white;
}

.visual {
    min-height: 904px;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #8d81ac;
    font-size: 0;
    letter-spacing: -4px;
    /* padding: 104px 0 0; */
    background: #000;
}

.visual>.container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 0;
}

.visual .text-block {
    padding: 90px 0;
}

.visual h1 {
    margin: 0 0 10px;
    font-size: 8.2rem;
    line-height: 1.12;
    font-weight: bold;
    color: #e3dfed;
}

.visual p.tagline {
    line-height: 1.1;
    font-size: 2.6rem;
}

.visual p {
    margin: 0 0 8px;
}

.visual .info {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #494654;
    text-transform: uppercase;
}

.visual .bg-stretch {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main {
    padding: 47px 0;
}

#cta {
    position: relative;
    z-index: 1;
    margin: -80px 0 55px;
    text-align: center;
    color: #848e97;
    font-size: 1.4rem;
    line-height: 1.28571428;
}

#cta .btn {
    margin: 0 0 16px;
    /*  height: 62px; */
    font-size: 2.1rem;
    line-height: 26px;
    font-weight: bold;
    padding: 17px;
    min-width: 390px;
    font-family: Montserrat;
    font-size: 21.01px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    /* line-height: 15px; */
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

#cta p {
    margin: 0 0 18px;
    font-family: Montserrat;
    color: #848e97;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 15px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.main p {
    margin: 0 0 23px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.text-box {
    text-align: center;
    /* font-size: 2.1rem; */
    line-height: 1.524;
    color: #716E79;
    padding-bottom: 23px;
}

.text-box h2 {
    margin: 0 0 20px;
    font-size: 5.4rem;
    line-height: 1.148;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat;
    color: #635c73;
    font-size: 54.01px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 15px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.col-md-offset-1 {
    margin-left: 8.33333%;
}

.col-md-10 {
    width: 83.33333%;
}

h2,
.h2 {
    font-size: 34px;
}

.area {
    padding: 77px 0 47px;
    background: #f4f4f4;
    height: 804px;
}

#footer {
    width: 100%;
    overflow: hidden;
    /* display: table-footer-group; */
    height: 1%;
    /* background-color: gold; */
    padding-bottom: 51px;
}

.footer-holder::before {
    content: '';
    position: absolute;
    height: 1px;
    top: 0;
    right: 15px;
    left: 15px;
    background: #f4f4f4;
}

.col-md-4 {
    width: 33.33333%;
}

.col-md-offset-1 {
    margin-left: 8.33333%;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: left;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-5 {
    width: 41.66667%;
}

.col-md-7 {
    width: 58.33333%;
}

.footer-holder .logo {
    margin: 0 0 23px;
    padding: 4px 0 0;
    float: none;
    display: block;
}

.footer-holder .logo+p {
    font-family: Montserrat;
    color: #848e97;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 21px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.col-md-2 {
    width: 16.66667%;
}

.footer-holder h4 {
    margin: 0 0 14px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: bold;
    font-family: Montserrat;
    color: #635c73;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    font-weight: bold;
}

h4,
.h4 {
    font-size: 20px;
}

.footer-holder ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.55;
    font-family: Montserrat;
    color: #8d81ac;
    font-size: 15px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 23px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 12px;
}

.col-md-3 {
    width: 25%;
}

.footer-holder .text-holder {
    padding: 0 0 0 10px;
}

.footer-holder .phone {
    display: block;
    margin: 0 0 6px;
    font-size: 26px;
    font-family: Montserrat;
    color: #3f3f3f;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 21px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

b,
strong {
    font-weight: bold;
}

.footer-holder .available {
    display: block;
    padding: 0 0 29px;
    font-size: 1.2rem;
    line-height: 1.3333333;
    font-weight: bold;
    text-transform: uppercase;
    color: #848e97;
    font-family: Montserrat;
    color: #848e97;
    font-size: 12px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer-holder address {
    display: block;
    margin: -3px 0 0;
    font-style: normal;
    line-height: 23px;
    font-family: Montserrat;
    color: #848e97;
    font-size: 11px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 23px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

address {
    margin-bottom: 24px;
    font-style: normal;
    line-height: 1.5;
}

.col-md-3 {
    width: 25%;
}

.footer-holder .text-frame {
    padding: 0 0 0 25px;
    font-size: 9px;
}

p {
    font-family: "Source Sans Pro", sans-serif;
}

p {
    margin: 0 0 12px;
}

.footer-holder {
    position: relative;
    padding: 62px 15px 92px;
    font-size: 1.4rem;
    line-height: 1.6428571429;
    color: #848e97;
}

.pagehead-actions>li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 11px;
    color: #24292e;
    list-style-type: none;
}

.text-icom {
    margin-top: 36px;
    margin-bottom: 70px;
    font-size: initial;
    padding-left: 240px;
}

.border {
    border: 1px solid #d5d5d5;
    margin-right: 15px;
}

.text-icom div {
    display: inline-block;
}

.watch-icon {
    outline: 1px solid #d5d5d5;
    /* border: 1px solid #d5d5d5; */
    /* height: 20px; */
    /* width: 70px; */
    background-color: #eeeeef;
    color: #333333;
    padding-top: 5px;
    padding: 5px;
}

svg {
    margin-left: 5px;
}

.count {
    margin-right: 5px;
}

.btn-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.area h2 {
    margin: 0 0 28px;
    font-size: 43px;
    line-height: 1.107;
    font-weight: bold;
}

.text-primary {
    color: #8d81ac;
}

.visual-list {
    margin: 0 -25px -40px -15px;
    padding: 28px 0;
    list-style: none;
    color: #848e97;
}

.visual-list li {
    padding: 0 0 25px;
}

.visual-list .img-holder {
    float: left;
    width: 90px;
    text-align: center;
    margin: 7px 45px 0 0;
}

.visual-list .img-holder img {
    vertical-align: top;
}

img {
    vertical-align: middle;
}

.visual-list .text-holder {
    overflow: hidden;
}

.visual-list h3 {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    color: #635C73;
}

.visual-list p {
    margin: 0 0 21px;
    font-size: 14px;
}

p {
    font-family: "Source Sans Pro", sans-serif;
}

.visible-sm {
    display: none;
}

.footer-holder .logo+p {
    line-height: 21px;
    font-size: 12px;
}

.area-subscribe {
    padding: 47px 0 47px;
    background-color: #f1f1f1;
}

.subscribe .form-control {
    padding: 10px 28px;
    /* font-size: 1.4rem; */
    height: 42px;
    min-width: 35px;
    line-height: 20px;
    border-color: #fff;
    font-weight: bold;
    /* box-shadow: 0 0 0 #fff; */
    border: 1px solid #ccc;
}

.subscribe h3 {
    margin: 0 15px;
    float: left;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    color: #625b73;
}

.subscribe .btn {
    float: right;
    height: 42px;
    font-size: 1.3rem;
    line-height: 20px;
    padding: 10px 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0 20px;
}

.cycle-gallery::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 180px;
    right: 180px;
    height: 1px;
    background: #f4f4f4;
}

.cycle-gallery .btn-prev {
    left: 90px;
}

.cycle-gallery .btn-next {
    right: 90px;
}

.cycle-gallery [class^="btn-"] {
    position: absolute;
    top: 50%;
    margin: 23px 0 0;
    z-index: 9;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateX(-50%);
    color: #a3a3a3;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.glyphicon-menu-left::before {
    /* content: "\e257"; */
}

.cycle-gallery {
    position: relative;
    text-align: center;
    padding: 40px 200px 33px;
    margin: 0 0 60px;
    font-size: 1rem;
    line-height: 1.6;
}

.glyphicon-menu-right::before {
    /* content: "\e258"; */
}

.cycle-gallery .img-box {
    font-family: Montserrat;
    color: #8d81ac;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 0 40px;
    font-weight: 400;
    line-height: 32px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.cycle-gallery .img-box .img-holder {
    display: inline-block;
    vertical-align: middle;
    margin: 0 22px 0 0;
    overflow: hidden;
}

.cycle-gallery .img-box .text-holder {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.cycle-gallery .img-box h3 {
    margin: 0;
    font-size: 24px;
    line-height: 1.33333;
    color: #635C73;
}

.cycle-gallery .img-box a {
    font-weight: bold;
}

.cycle-gallery p a {
    font-weight: 400;
}

.cycle-gallery p {
    width: 550px;
    color: #333333;
    line-height: 32px;
    text-align: center;
    transform: scaleX(1.0059);
}

.cycle-gallery .date {
    display: block;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    color: #848e97;
}

.cta-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
    letter-spacing: -4px;
    white-space: nowrap;
    color: #848e97;
}

.cta-list li {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    font-size: 1.0rem;
    line-height: 1.285;
    letter-spacing: 0;
    white-space: normal;
}

.cta-list .btn {
    position: relative;
    margin: 0 0 15px;
    height: 50px;
    line-height: 30px;
    padding: 10px 50px;
    min-width: 240px;
}

.btn-default {
    color: #000;
    background-color: #f3f3f3;
    border-color: #f3f3f3;
}

.fa-github::before {
    content: "\f09b";
}

.btn-info {
    color: #fff;
    background-color: #26a6d1;
    border-color: #26a6d1;
}

.btn-blue {
    background: #3b5998;
    color: #fff;
    border-color: #3b5998;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook:before {
    content: "\f09a";
}

.cta-list .btn i {
    position: absolute;
    left: 24px;
    top: 50%;
    font-size: 1.0rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.visual-container {
    background: #4E384E;
    text-align: center;
}

.visual-container .visual-area {
    position: relative;
    overflow: hidden;
    padding: 90px 0 70px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
}

.visual-container h2 {
    margin: 0 0 70px;
    font-size: 2.8rem;
    line-height: 1.166666;
    font-weight: bold;
    color: #e3dfed;
}

.testimonials {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    list-style: none;
    color: #fff;
    margin-bottom: -46px;
    overflow: hidden;
    font-size: 0;
    letter-spacing: -4px;
}

.testimonials li {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 33.3333%;
    letter-spacing: 0;
}

.testimonials .img-holder::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100px;
    margin: 0 0 0 -1px;
}

.testimonials p {
    margin: 0 30px 70px;
}

.visual-area .bg-stretch {
    /* margin-top: -660px; */
}

.visual-container .visual-area .bg-stretch {
    position: absolute;
    top: 0;
    left: 0;
}

.visual-container .visual-area+.visual-area::after {
    content: "";
    position: absolute;
    top: 0;
    left: 180px;
    right: 180px;
    height: 1px;
    background: rgba(102, 74, 102, 0.6);
}

.visual-container .visual-area+.visual-area {
    padding: 70px 0;
}

.visual-container .visual-area {
    position: relative;
    overflow: hidden;
    padding: 90px 0 70px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
}

.visual-container .visual-area>.container {
    position: relative;
    z-index: 1;
}

.pricing-tables {
    padding: 0 7px 25px;
    font-size: 0;
    letter-spacing: -4px;
    white-space: nowrap;
}

.plan {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    min-height: 100px;
    margin: 50px 3px;
    padding: 0 0 35px;
    font-size: 1.6rem;
    letter-spacing: 0;
    white-space: normal;
    text-align: center;
    color: #fff;
}

.plan .head {
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 0 13px;
    margin-bottom: 30px;
}

.pricing-tables h3 {
    font-size: 1.6rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 24px;
    margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #635C73;
}

.plan .price {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.price .price-main {
    display: block;
    padding: 0 0 17px;
    font-size: 4.4rem;
    vertical-align: top;
    line-height: 1;
    white-space: nowrap;
}

.price .price-main .symbol {
    display: inline-block;
    /* color: rgba(255, 255, 255, 0.18); */
    vertical-align: top;
    margin: 0 7px 0 0;
    position: relative;
    font-weight: normal;
}

.price .price-additional {
    color: rgba(255, 255, 255, 0.25);
    display: block;
    padding: 0 0 33px;
    font-weight: normal;
    font-size: 1.4rem;
}

.plan ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    margin: 0 0 0 -30px;
    height: 5px;
    background: #8d81ac;
}

.plan ul {
    display: block;
    position: relative;
    margin: 0;
    font-size: 1.0rem;
    line-height: 1.75;
    padding: 29px 0 22px;
    min-height: 117px;
    list-style: none;
}

.plan ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    margin: 0 0 0 -30px;
    height: 5px;
    background: #8d81ac;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.plan .btn.btn-default {
    background: rgba(255, 255, 255, 0.15);
}

.plan .btn {
    height: 42px;
    font-size: 1.0rem;
    border: 0;
    line-height: 26px;
    padding: 8px 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14.99px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 15px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.plan.recommended ul {
    min-height: 246px;
    line-height: 32px;
    padding: 37px 0 22px;
}

.plan.recommended {
    margin-top: 0;
    width: 28%;
    position: relative;
    z-index: 99;
    background: rgba(0, 0, 0, 0.2);
    border-color: #8d81ac;
}

.visual-container .visual-area>.container>p {
    margin: 0 120px 5px;
}

.visual-container p.silent {
    font-family: 'Source Sans Pro';
    color: rgba(162, 145, 165, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.cta-list li:hover .btn-default {
    color: white;
    background-color: #2b414d;
}

.cta-list li:hover .btn-info {
    color: #26a6d1;
    background-color: white;
}

.cta-list li:hover .btn-blue {
    color: #3b5998;
    background-color: white;
}

.btn.btn-default:hover {
    color: #7f6d78;
    background-color: white;
}

@media (min-width: 481px) and (max-width: 992px) {
    .container {
        /* width: 460px; */
        min-width: 460px;
    }
    .nav-drop {
        position: static;
        padding-top: 35px;
    }
    nav {
        text-align: center;
    }
    #nav li {
        margin: 0 0 0 15px;
    }
    .visual {
        padding: 0;
        min-height: 760px;
    }
    .visual .bg-stretch {
        bottom: 0px;
    }
    .visual h1 {
        font-size: 72px;
    }
    .visual p.tagline {
        font-size: 24px;
    }
    .visual .info {
        font-size: 14px;
    }
    .text-box h2 {
        font-size: 25px;
    }
    .text-box p {
        font-size: 19px;
    }
    .text-icom {
        padding-left: 20px;
        text-align: center;
    }
    .border {
        margin-right: 0;
    }
    .visible-sm {
        display: inline;
    }
    .hidden-sm {
        display: none;
    }
    .area h2 {
        text-align: left;
        font-size: 60px;
        line-height: 1.125;
    }
    .slide-holder {
        text-align: center;
    }
    .slide-holder .img-slide img {
        position: relative;
        left: -3px;
    }
    .col-md-5 {
        width: 100%;
    }
    .row {
        margin-left: 10px;
        margin-right: 10px;
    }
    .col-md-4 {
        width: 50%;
    }
    .col-md-2 {
        width: 50%;
    }
    .col-md-3 {
        width: 50%;
    }
    .cycle-gallery {
        margin: 0 0 30px;
        padding: 85px 35px 0;
        font-size: 1.0rem;
        line-height: 1.412;
    }
    .cycle-gallery .img-box {
        padding: 0 0 35px;
    }
    .area {
        height: 1300px;
    }
    .cycle-gallery .img-box {
        text-align: center;
    }
    .cycle-gallery p {
        margin-left: 20px;
        margin-right: 20px;
    }
    .cycle-gallery .btn-prev {
        left: 0;
    }
    .cycle-gallery .btn-next {
        right: 0;
        font-style: bold;
    }
    .cta-list {
        display: contents;
    }
    .visual-container h2 {
        font-size: 38px;
    }
    .testimonials li {
        width: 45%;
    }
    .plan.recommended {
        width: 45%;
    }
    .plan {
        display: block;
        width: 45%;
        margin-right: 10px;
        display: inline-block;
    }
    .float-left {
        float: left;
    }
    .visual-container p.silent {
        display: inline-block;
    }
    .area-subscribe .subscribe {
        text-align: center;
        display: inline-block;
    }
    .area-subscribe .container {
        text-align: center;
        width: 350px;
        display: grid;
    }
    .subscribe .btn {
        float: left;
        margin-bottom: 5px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        /* width: 300px; */
        padding-left: 0;
        min-width: 300px;
    }
    #header {
        height: 60px;
        padding: 0;
    }
    #header .logo {
        margin: 4px 0 10px 10px;
        width: 100px;
    }
    #nav {
        overflow: visible;
        font-size: 1.8rem;
        line-height: 1.3333333;
        letter-spacing: 0;
        font-weight: normal;
    }
    .opener-holder::before {
        position: absolute;
        content: "";
        width: 1px;
        left: 0;
        top: 0;
        bottom: -6px;
        background-color: white
    }
    .opener-holder {
        margin: 4px 10px;
        padding: 0 0 0 10px;
    }
    .opener-holder {
        float: right;
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 0 0 0 25px;
        margin: 7px 25px 0;
    }
    .nav-opener::after {
        content: '';
        top: 26px;
    }
    .nav-opener::before,
    .nav-opener::after,
    .nav-opener span {
        background: white;
        border-radius: 4px;
        position: absolute;
        top: 17px;
        left: 3px;
        right: 3px;
        height: 3px;
        margin-top: -2px;
        transition: all 0.2s linear;
    }
    .nav-opener::before {
        content: '';
        top: 8px;
        left: 30%;
    }
    .nav-opener::after {
        content: '';
        top: 26px;
    }
    .nav-opener {
        display: none;
        float: right;
        width: 31px;
        height: 31px;
        position: relative;
        text-indent: -9999px;
        overflow: hidden;
    }
    .nav-opener {
        display: inline-block;
        vertical-align: top;
    }
    #header .btn {
        position: absolute;
        margin: 8px 0 0;
        margin-left: -75px;
        line-height: 20px;
        /* padding: 3px 20px; */
        min-width: 0;
    }
    #nav .nav-drop {
        display: block;
        clear: both;
        width: 100%;
        max-width: 400px;
        right: 0;
        top: 100%;
        pointer-events: none;
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
        transform: translate3d(0, 30px, 0);
        z-index: 10;
    }
    #nav .nav-drop>ul {
        display: block;
        padding: 0;
        text-align: left;
    }
    .nav-opener:hover {
        opacity: .9;
    }
    .visual h1 {
        font-size: 54px;
    }
    .visual p.tagline {
        font-size: 20px;
    }
    .visual .info {
        font-size: 16px;
    }
    .visual {
        min-height: 500px;
    }
    .visual .bg-stretch {
        max-width: 220%;
        bottom: 30px;
    }
    .visual>.container {
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .visual .text-block {
        padding: 30px 0;
    }
    #cta .btn {
        margin: 0 0 12px;
        /* height: 42px; */
        font-size: 1.4rem;
        line-height: 20px;
        /* padding: 10px 30px; */
        min-width: 0;
    }
    .text-box h2 {
        font-size: 19px;
    }
    .text-box p {
        font-size: 13px;
    }
    .text-icom {
        padding-left: 0;
        font-size: 10px;
        text-align: center;
    }
    .border {
        margin-right: 5px;
    }
    .visible-sm {
        display: inline;
    }
    .hidden-sm {
        display: none;
    }
    .col-md-5 {
        width: 100%;
    }
    .row {
        margin-left: 15px;
        margin-right: 15px;
    }
    .area h2 {
        text-align: left;
        font-size: 25px;
        line-height: 1.125;
    }
    .slide-holder .img-slide img {
        height: 416px;
        width: auto;
    }
    .slide-holder .img-slide img {
        position: relative;
        left: -3px;
    }
    .area {
        height: 1765px;
    }
    .col-md-4 {
        width: 100%;
    }
    .col-md-2 {
        width: 100%;
    }
    .col-md-3 {
        width: 100%;
    }
    .slideset {
        margin-left: -900px;
        margin-top: -75px;
    }
    .cycle-gallery p {
        font-size: 10px;
        width: 200px;
    }
    .cycle-gallery .btn-prev {
        left: 160px;
    }
    .cycle-gallery .btn-next {
        right: 0px;
    }
    .block-frame {
        margin-top: 50px;
    }
    .marge-left-140 {
        margin-left: -140px;
    }
    .cycle-gallery .img-box h3 {
        font-size: 15px;
    }
    .cycle-gallery .date {
        float: left;
    }
    .cta-list li {
        display: block;
    }
    .visual-container h2 {
        font-size: 1.8rem;
    }
    .testimonials li {
        width: 100%;
    }
    .plan {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .plan.recommended {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .visual-container .visual-area>.container>p {
        margin: 5px;
    }
    .form-group {
        padding-left: 50px;
    }
    .subscribe h3 {
        margin-left: 87px;
        font-size: 21px;
    }
    .area-subscribe {
        padding: 47px 0 87px;
    }
    .subscribe .btn {
        position: relative;
        float: none;
        padding: 10px 57px;
        margin-left: 51px;
    }
    .area-subscribe .form-inline {
        text-align: center;
    }
    .nav-active #nav .nav-drop {
        pointer-events: auto;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    li:hover #nav .nav-drop>ul li a {
        color: black;
        background-color: #26a6d1;
    }
    #nav .nav-drop>ul li {
        position: relative;
        margin: 0;
        padding: 0 35px;
        display: block;
        font-size: 1.8rem;
        line-height: 1.3333333;
        font-weight: normal;
    }
    #nav .nav-drop>ul li a {
        display: block;
        margin: 0 -9999px;
        padding: 20px 9979px;
        border-bottom: 1px solid #3E3D3F;
        color: #fff;
        background: rgba(51, 51, 51, 0.98);
    }
    #nav #nav-drop>ul li:hover a {
        color: #8b84a5;
    }
}